form {
    max-width: 400px;
    margin: 48px auto;
    display: grid;
    gap: 10px;
    height: 200px;
}

form button {
  padding: 12px;
  border: 0;
  border-radius: 8px;
  background: lightgray;
  color: white;
  height: 50px;
}