form {
  width: 400px;
  margin: 60px auto;
  padding: 30px;
  text-align: center;
}

form p {
  text-align: left;
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 18px;
}


form input,
form textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}

form button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background-color: rgb(1, 1, 67);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}