#Destinations {
  text-align: center;
  padding: 30px;
}

#Destinations h2 {
  margin-bottom: 25px;
  font-size: 2rem;
}


#flight-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.travel {
  width: 300px;
  text-align: center;
}

.travel img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.travel .travel-description h1 {
  font-size: 1.3rem;
  margin: 5px 0;
}
