h2 {
    text-align: center;
}

.flight-c {
  max-width: 1200px;       
  margin: 0 auto;          
  text-align: center;      
  font-size: 0;           
}

.flight {
  display: inline-block;   
  width: 360px;            
  margin: 0 16px 32px;     
  vertical-align: top;     
  font-size: 16px;         
  text-align: left;        
}

.flight h1 {
  font-size: 1.25rem;
}

.flight img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 8px;
}

.flight p {
  margin: 0;
}


@media screen and (max-width: 1150px) {
  .flight { 
    width: 45%; 
}   
}

@media screen and (max-width: 680px) {
  .flight { 
    width: 100%; 
}  
}
