#slideshow {
    position:relative;
}

.arrow {
    color:black;
    text-decoration: none;
    size:3em;
    position:absolute;
    top:50%;
    border-radius:3px;
    padding:5px;
}

#right-arrow {
    right:5%;
}

#left-arrow {
    left:5%;
}

#slideshow img {
    display:block;
    margin:auto;
    width: 80%;
    height: 400px;
    max-width:100%;
}